<div class="d-flex justify-content-center align-items-center flex-column pt-5">
    <div>
        <h1>
            Error 404!
        </h1>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-row">
        <h2 class="p-3">
            No pudimos obtener esta <br> direccion, lo sentimos!
        </h2>
            <img src="https://img.freepik.com/vector-gratis/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg?w=2000" alt="error404"  class="img404">
    </div>

</div>