body{
    /* background-image: url('https://i.pinimg.com/564x/4b/7b/13/4b7b13fa2e779fd0e8b4f833b988ceff.jpg'); */
    background-color: rgb(192, 100, 100);
}

.header__title{
    background-color: rgb(255, 255, 255);
}

.header__h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black ;
    border-radius: 0.3rem;
    color: white;
}

.header__btn{
    border-radius: 0.3rem ;
    border: 1px black solid;
    color: antiquewhite;
    background-color: black;
}
.color__white{
    color: rgb(255, 255, 255);
}

.img__verduras{
    width: 60%;
    border-radius: 0.5rem;
}

.footer{
    background-color: rgb(235, 235, 235);
}


/* Chat */

.input__chat{
    border-radius: 0.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bgCwhite{
    background-color: white;
}